.body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}

.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    z-index: 100;
}

.page-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 222, 222, 0.5);
    @supports (backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px);
        background-color: rgba(222, 222, 222, 0.5);
    }
}

.page-header_container, .events_container{
    box-sizing: border-box;
    position: relative;
    margin: 0, auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: 1414px;
    display: flex;
    align-items: center;
}

.page-header_logo{
    width: 202px;
    height: 147;
    margin-right: 237px;
    display: inline-block;
}

.page-header_logo-img{
    width: 100%;
    height: 100%;
}

.page-header_nav{
    display: inline-block;
    display: flex;
    flex-direction: row;
    margin-right: 230px;
}

.page-header_nav-link{
    margin: 0 25px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

.page-header__button-user {
    margin: 30 40px;
    border: 1px solid #1F1E1E;
    color: #1F1E1E;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    box-sizing: border-box;
    padding: 15px 40px;
}

.home{
    padding-top: 147px;
}

.main-header_title,
.main-header_text {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lora", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: normal;
    color: #1F1E1E;
}

.main-header_title{
    margin:  0 0 70px;
}

.main-header_text {
    max-width: 948px;
    width: 100%;
    margin: auto;
}

.main-header_picture{
    display: block;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
}

.main-header_picture::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 16.927%;
}

.main-header_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-header{
    padding: 100px 0;
}

.events{
    padding-top: 147px;
}

.events_container{
    flex-direction: column;

}

.events_title{
    align-self: center;
}

.title{
    margin: 0 0 150px;
    box-sizing: border-box;
    padding: 7px 45px 9px;
    max-width: 624px;
    text-align: center;
    background-color: #1F1E1E;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500px;
    color: #ffff;
}

.listing{
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;
}

.listing_card-event{
    max-width: 405px;
    width: calc(33.333% - 40px);
}

.card-event{
    box-sizing: border-box;
}

.card-event_link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-event_link:hover .card-event_title{
    color: #a51505;
    text-decoration-color: #a51505; 

}

.card-event_picture{
    position: relative;
    display: block;
    margin-bottom: 25px;

}

.card-event_picture::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.160%;
}

.card-event_picture-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-event_title{
    margin: 0 0 auto;
    min-height: 64px;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1F1E1E;
    transition: color 0.2s, text-decoration-color 0.23s;

}

.card-event_text{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #1F1E1E;
}

.card-event_time{
    margin-top: auto;
    display: block;
    color: #1F1E1E;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.page-footer{

}